body {
font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
background-color: #fcfaf7;
}

header {
    background-color: white;
    color: #002d4f;
    text-align: left;
    height: 70px;
    padding-top: 1%;
    font-size: larger;
    border-bottom: 50px solid #002d4f;
    
}

/* --------Table-------- */
table {
    color: #363741;
    border-radius: 12px;
    border-collapse: collapse;
    width: 95%;
    margin-left: 2.5%;
    background-color:whitesmoke;
}

th {
    background-color: #363741;
    color:white;
    height:50px;
    font-size: large;
    padding-left: 5px;
    width: 95%;
    margin-left: 2.5%;
}

table,
td {
    border: 2px solid lightgray;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

thead {
    text-align: left;
}

.completed {
    background-color: rgb(176, 173, 173);
    color: white;
}

/* -------Inputs------- */
#input {
    margin: 3%;
    padding: 10px;
}

#taskDescription {
    width: 600px;
}


